.table
{
  box-shadow: 10px -10px 5px #CCC;
}


.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
  }

 
    .table-header-row {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #fff;
        font-weight: bold;
        border-bottom: 1px solid #fff;
    }

    

    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
    }


  



    
  

